{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class='bg-primary_black h-full w-full '>
      <!-- جلب قيم الافلام -->
      {{ movie|json_script:'movie_data' }}
        <video controls class='w-full h-screen player'></video>
        
    </main>
    <script>
        // تحديد عنصر الفيديو في الصفحة
        const videoEl = document.querySelector('video')
        // الحصول على بيانات الأفلام وتحويلها من JSON إلى Object
        const movie_data = JSON.parse(document.getElementById('movie_data').textContent);
        // تحليل URL الصفحة الحالية  
        const url = new URL(location.href)
        // لجلب قيمة الرابط ثم اذا كانت صحيحة يحفظها واذ كانت خاطئه يجعلها 0 وتخذن في المتغير
        const video_param = parseInt(url.searchParams.get('epi'))?parseInt(url.searchParams.get('epi')):0
        // وتحويلها الي قيمة الفيدو من الملفات vidoe_param يتم تعيين مسار الفيديو عن طريق جلب قيمه 
        videoEl.setAttribute('src', `http://localhost:8000/media/${movie_data[video_param].file}`)
    </script>
{% endblock %}



